@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a href="http://localhost:5261/Home/One">One</a></li>
        <li><a href="http://localhost:5261/Home/Two">Two</a></li>
        <li><a href="http://localhost:5261/Home/Three">Three</a></li>
    </ul>
</div>
